﻿<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        Welcome to the Sample products listing app
      </div>
      <div class="text-center">Developed by:</div>

      <div class="text-center">@sravan</div>
    </div>
  </div>
</div>